*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

/* GENERAL STYLES */

body {
  background-color: #023047;
  color: #f2e9e4;
  margin: 0 auto;
  line-height: 1.6;
}

img {
  display: block;
  max-width: 100%;
}

.nav-bar ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #4a4e69;
}

/*  TYPOGRAPHY  */

h1,
h2,
h3 {
  line-height: 1.1;
  margin: 0;
}

h1 {
  font-size: 2.5em;
  font-weight: 600;
}

h2 {
  font-size: 1.5em;
  font-weight: 600;
}

p {
  font-size: 1em;
}

/*  ABOUT ME */

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}

.about-me span {
  background-color: #4a4e69;
  color: #f2e9e4;
}

.word {
  margin: auto;
  color: white;
  text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
}

.about {
  margin-right: 2em;
}

.about-me img {
  box-shadow: 0.4em 0.4em 0.75em rgba(0, 0, 0, 0.4),
    0.2em 0.2em 0.35em rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}
